/* This is the styles page */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.g-base{
    background-color: rgb(33, 47, 48);
    font-family: 'Open sans','arial';
    color: rgb(19, 160, 253);
    font-size: 1.5rem;
    height: 100%;
    margin: 0;
}

.g-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    margin-bottom: 20px;
    background-color: rgb(5, 4, 75);
}

.g-header #s-navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        & > a{
            text-decoration: none;
            color: aqua;
            padding: 10px;
            &:hover{
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background-color: rgb(33, 47, 48);
            }
            &.on-page{
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background-color: rgb(33, 47, 48);
            }
        }

}

.g-main{
    margin: 30px;
    display: flex;
    flex-wrap: nowrap;
    height:100%;
}

.g-footer{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    width: 100%;
    margin-top: 50px;
    background-color: rgb(5, 4, 75);
    & > #s-socials a{
        text-decoration: none;
        color: aqua;
        padding: 10px 10px 0 10px;
    }
}

#p-home #s-content{
    margin-right: 15px;
    font-size: 1.75rem;
}

#p-WebApps main{
    font-size: 1.75rem;
}
      

