/* This is the styles page */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.g-base{
    background-color: rgb(33, 47, 48);
    font-family: 'Open sans','arial';
    color: rgb(19, 160, 253);
    font-size: 1.5rem;
    height: 100%;
    margin: 0;
}

.g-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    margin-bottom: 20px;
    background-color: rgb(5, 4, 75);
}

.g-header #s-navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        & > a{
            text-decoration: none;
            color: rgb(19, 160, 253);
            padding: 10px;
            &:hover{
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background-color: rgb(33, 47, 48);
                color: aqua;
            }
            &.on-page{
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background-color: rgb(33, 47, 48);
                color: aqua;
            }
        }

}

.g-main{
    margin: 30px;
    display: flex;
    flex-wrap: nowrap;
    height:100%;
}
#p-WebApps #s-grid-container img{
    border-radius: 10px;
}

#p-WebApps #s-grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "head head head"
    "app1 app2 app3"
    "app4 app5 app6";
       & > #head{
        grid-area: head;
        margin: 15px;
        border-bottom: 4px solid rgb(5, 4, 75);
        padding-bottom: 5px;
    }

       & > #app1{
        grid-area: app1;
        font-size: 1rem;
        margin: 15px;
        max-width: 400px;
    }
       & > #app2{
        grid-area: app2;
        font-size: 1rem;
        margin: 15px;
        max-width: 400px;
    }
        & > #app3{
        grid-area: app3;
        font-size: 1rem;
        margin: 15px;
        max-width: 400px;
    }
        & > #app4{
        grid-area: app4;
        font-size: 1rem;
        margin: 15px;
        max-width: 400px;
    }
        & > #app5{
        grid-area: app5;
        font-size: 1rem;
        margin: 15px;
        max-width: 400px;
    }
        & > #app6{
        grid-area: app6;
        font-size: 1rem;
        margin: 15px;
        max-width: 400px;
    }
}

#p-OtherProjects #s-grid-container img{
    border-radius: 10px;
}

#p-OtherProjects #s-grid-container{
    display: grid;
    margin-right: 15%;
    margin-left: 15%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "head head"
    "app1 app2"
    "app3 app3";
       & > #head{
        grid-area: head;
        margin: 15px;
        border-bottom: 4px solid rgb(5, 4, 75);
        padding-bottom: 5px;
    }

       & > #app1{
        grid-area: app1;
        font-size: 1rem;
        margin: 15px;
        max-width: 400px;
    }
       & > #app2{
        grid-area: app2;
        font-size: 1rem;
        margin: 15px;
        max-width: 400px;
    }
        & > #app3{
        grid-area: app3;
        font-size: 1rem;
        margin: 15px;
        max-width: 400px;
    }
}


.g-footer{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    width: 100%;
    padding: 15px;
    margin-top: 50px;
    background-color: rgb(5, 4, 75);
    & > #s-copy{
        font-size: 1rem;
        align-self: center;
    }
    & > #s-contact{
        font-size: 1.5rem;
        margin-left: 50px;
    }
}

#p-home #s-content{
    margin-right: 15px;
    font-size: 1.75rem;
}

#p-resume #s-main{
    text-align: center;
    justify-items: center;
    & ul{
        list-style: none;
    }
    & > .education{
        border: solid rgb(5, 4, 75) 4px;
        border-radius: 10px;
        padding-right: 30px;        
    }
    & > .awards{
        border: solid rgb(5, 4, 75) 4px;
        border-radius: 10px;
        padding-right: 30px;        
    }
    & > .work{
        border: solid rgb(5, 4, 75) 4px;
        border-radius: 10px;
        padding-right: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    & > .extras{
        border: solid rgb(5, 4, 75) 4px;
        border-radius: 10px;
        padding-right: 30px;
        margin-top: 20px;
    }
}

#p-resume #s-main dt{
    text-decoration: underline;
}


      

@media (max-width: 900px){
    #p-WebApps #s-grid-container{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "head head"
        "app1 app2"
        "app3 app4"
        "app5 app6";
    }
    #p-home #s-picture{
        display: none;
    }
}

@media (max-width: 750px){
    .g-header #s-navigation{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    #p-OtherProjects #s-grid-container{
        margin-left: 15px;
        margin-right: 15px;
    }

}

@media (max-width: 600px){
    #p-WebApps #s-grid-container{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas: 
        "head"
        "app1"
        "app2"
        "app3"
        "app4"
        "app5"
        "app6";  
    }
    #p-OtherProjects #s-grid-container{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "head"
        "app1"
        "app2"
        "app3";
    }
}