/* This is the styles page */

.g-base{
    display: flex;
    background-color: rgb(33, 47, 48);
    color: rgb(19, 160, 253);
    font-size: 1.5rem;
    height: 100%;
    margin: 0;
}

.g-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    margin-bottom: 20px;
    background-color: rgb(5, 4, 75);
}

.g-header #s-navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        & > a{
            text-decoration: none;
            color: aqua;
            padding: 10px;
            &:hover{
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background-color: rgb(33, 47, 48);
            }
            &.on-page{
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background-color: rgb(33, 47, 48);
            }
        }

}


.g-footer{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    width: 100%;
    margin-top: 20px;
    background-color: rgb(5, 4, 75);
    & > #s-socials a{
        text-decoration: none;
        color: aqua;
        padding: 10px 10px 0 10px;
    }
}
      

